<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Predict Sentiment</title>
  <link type="text/css" rel="stylesheet" href="static/style.css">
  
</head>

<body>
 <div class="login">
	<h1>Predict Sentiment</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}" method="POST">
      <input type="text" name="text" placeholder="Text" required="required" /><br>
    	<!input type="text" name="word_count" placeholder="WC" required="required" /><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>


   <br>
   <br>
    <h2>{{pred}}</h2>


   <br><br><br><br><br><br><br><br>
     <ul>
         <li><a href="https://github.com/lyraxvincent" class="github">
                 <img src="/static/img/icons/github.png" alt="Github" width="20" height="20"/>
         </a></li>
         <li><a href="https://twitter.com/lyraxvincent" class="twitter">
             <img src="/static/img/icons/twitter.png" alt="Twitter" width="20" height="20"/>
         </a></li>
         <li><a href="https://www.linkedin.com/in/vincent-njonge-528070178/" class="linkedin">
             <img src="/static/img/icons/linkedin.png" alt="LinkedIn" width="20" height="20"/>
         </a></li><br>
         <h6 class="m-0 mt-4 text-center text-white text-capitalize">Copyright &copy; 2021 created by Vincent N.</h6>
    </ul>

   <br><br>
     <p style="font-size: 12px;">Background Photo by <a href="https://unsplash.com/@jessekao?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jesse K.</a> on <a href="https://unsplash.com/collections/11501762/wallpapers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>


 </div>

</body>

</html>
